/* This stylesheet is used to style the admin option form of the plugin. */


.error, .updated {
    display: none;
}

.gscrf-help-text {
    font-size: 20px;
    line-height: 24px;
    color: #ccc;
    margin: 10px;
    text-align: center;
}


.container {
    position: relative;
    width: 432px;
    float: left;
    border: 1px dotted #ccc;
    /*margin-top: 20px;*/
}

.container > div {
    height: 260px;
    width: 410px;
    position: absolute;
    overflow: hidden;
    cursor: move;
    background:#eee;
}

.container > div > p {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    margin: 1em 5px;
}

.gscrf-meta {
    position: absolute;
    top: 0;
    background: #E4E4E4;
    font-size: 12px;
    line-height:16px;
    padding: 2px;
}

.gscrf-position {
    font-weight: bold;
    font-size: 16px;
    line-height:16px;
    margin: 0 4px;
}

#source .gscrf-position {
    display: none;
}


.container > .ss-placeholder-child {
    height: 113px;
    width: 410px;
    background:#ffdc73;
    border: 1px dotted #ddd;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.empty .ss-placeholder-child {
    display: none;
}

.container > .ss-dragged-child {
    background: #ffbc00;

}


.container > div img {
    max-width: 205px;
    height:auto;
}

.container > div h4 {
    margin: 5px;

}
.container > div h4 > a {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #333;
}

#source {
margin-left: 20px;
}

#target > div {

}

#ads-table {
    display: none;
    margin-top: 20px;
    width: 868px;
    border: 1px dotted #ccc;
    padding: 9px;
}

#ads-table > ol > li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;

}

.gscrf-editable {
    display: inline-block;
    min-width: 100px;
    padding: 2px;
    background:#eee;
    cursor: text;
    margin: 5px;
}

#preview {
    display: none;
    max-width: 864px;
    padding: 9px;
    border: 1px dotted #ccc;
    margin-top: 20px;
}
