channel link, channel language, channel copyright, channel managingEditor, channel webMaster, channel docs, channel lastBuildDate, channel item pubDate {display:none;}
rss {font-family:Helvetica, sans-serif;}

channel title {display:block; padding:1em; color:#333; border-bottom:1px dotted #CCC; font-weight:bold; font-size:140%; }

channel description {display:block; float:left; font-size:130%; margin:1em;}

channel item {border-bottom:1px dotted #CCC;clear:both; display:block; padding:0.5em; margin:1em;}

channel item title { border-bottom-width:0; color:#333; display:block; font-size:120%; font-weight:bold; margin:0; padding:0.2em;}

channel item description {display: block; float:none; margin:0; text-align: left; padding:0.2em 0.5em 0.4em; color: black; font-size:100%; font-weight:normal;}

channel item link {color:#666; display:block; font-size:86%; padding:0 0.5em;}
channel item description a { text-decoration: none !important; color: #000 !important;}
